*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* shared common styles start */
.section-width{
    width: 85%;
}
.center{
    text-align: center;
}
.text-white{
    color: #fff;
}
.color-orange{
    color: #FF5400;
}
.bgcolor-orange{
    border-radius: 8px;
background: #FF5400;
}
/* shared common styles stop */

/* navbar section styles start */
.nav-section{
    height: 6rem;
    display: flex;
    justify-content: space-between;
}
.nav-logo-container{
    display: flex;
    align-items: center;
    margin-left: 0;
}
.nav-logo-image{
    width: 5rem;
    margin-right: 1rem;
}
.nav-logo-text{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}
.nav-logo-text > .text-orange{
    color: #FF5400;
font-size: 2.25rem;
font-weight: 800;
}

.nav-menu-container{
    display: flex;
margin-right: 0;
    align-items: center;
}
.nav-menu-container > ul {
display: flex;

    
}
.nav-menu-container > ul > li{
    list-style: none;
}
.nav-menu-container > ul > li > a{
    text-decoration: none;
    margin: 0 1.5rem;
    color: #424247;
font-size: 18px;
font-weight: 400;
    
}
.nav-menu-container > ul > li > a:hover{
    color: #FF5400;
}
#active{
    color: #FF5400;
}
#nav-icon{
    display: none;
}
#last{
    margin-right: 0;
}
/* navbar section styles stop */

/* banner section styles start */
.banner-section{
    background: url('../Images/Group\ 13\ \(1\)\ \(1\).png'),linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    border-radius: 1rem;
    height: 31rem;
}
.banner-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
}
.banner-title{
font-size: 4rem;
font-weight: 800;

}
.banner-description{
    text-align: center;
    width: 42rem;
font-size: 1rem;
font-weight: 400;

}
.where-go, .when-go, .select-type{
    width: 10.5rem;
height: 3rem;
flex-shrink: 0;
border-radius: 0.5rem;
border: none;
background: #fff;
margin-right: 1.5rem;
color: rgba(19, 19, 24, 0.50);
}
.option-container{
   display: flex;
    padding: 1rem;
    border-radius: 0.5rem;
background: rgba(255, 255, 255, 0.30);
}
.option-container > input[placeholder], .when-go, .select-type{
padding-left: 1rem;
color: rgba(19, 19, 24, 0.50);
}
.search-button{
    width: 10.5rem;
height: 3rem;
flex-shrink: 0;
border-radius: 0.5rem;
border: none;
}
/* banner section styles stop */

/* popular tour section style start */
.popular-tour-section{
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;

}
.tour-text-container{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    width: 50%;
    
}
.tour-title{
    color: #131318;
margin-left: 0;
font-size: 2.5rem;
font-weight: 800;
}
.same-text{
    color: rgba(19, 19, 24, 0.70);
font-size: 1rem;
font-weight: 400;
}
.read-more-button{
    width: 11rem;
height: 3.1rem;
flex-shrink: 0;
border-radius: 0.5rem;
border: none;
text-align: center;
font-size: 1.25rem;
font-weight: 800;
margin-left: 0;
}
.list{
    margin-left: 2rem;
}
.list >ul > li{
    margin: 1rem auto;
}


/* popular tour section style stop */

